.plans-container {
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.card {
    position: relative;
    scroll-snap-align: center;
    
}